<!DOCTYPE html>
<html>
<head>
    <title >BINGO Admin Panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <script>
        let id;
        let waiting = true;

        function setID(){
            id = document.getElementById("gameID").value;
            sendValues("/init-game", id);
            document.getElementById("gameID").style.visibility = "hidden";
            document.getElementById("submitID").style.visibility = "hidden";
            document.getElementById("submitID").innerHTML = "Configuring game "
            clock();
        }

        function addSuggestion(index){
            fetch("/use-suggestion/" + id + "/" + index);
        }

        function startGame(){
            fetch("/start-game/" + id);
        }

        async function clock(){
            while(waiting){
                await updateWords();
                await updatePlayers();
                await updateSuggestions();
                await new Promise(r => setTimeout(r, 200));
            }
        }

        async function updateSuggestions(){
            getListFromBackend("suggestions", function(data){
                document.getElementById("suggestionlist").innerHTML = tableRowGenerator(data, true)
            })
        }

        async function updatePlayers(){
            getListFromBackend("players", function(data){
                document.getElementById("playerlist").innerHTML = tableRowGenerator(data)
            })
        }

        async function updateWords(){
            getListFromBackend("words", function(data){
                document.getElementById("wordlist").innerHTML = tableRowGenerator(data)
            })
        }

        function getListFromBackend(which, callback) {
            $.ajax({
                url: "get-" + which + "/" + id,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    callback(data);
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        }

        function sendValues(where, value){
            $.ajax({
                type: "POST",
                url: where,
                data: {
                    value: value
                },
                success: function(response){
                    console.log(response);
                }
            });
        }

        function tableRowGenerator(list, is_suggestion){
            tableHTML = ""
            for(var i = 0; i < list.length; i++){
                tableHTML += "<tr><td>" + list[i];
                if(is_suggestion){
                    tableHTML += '<i onclick="addSuggestion(' + i +')">\u2705</i>'
                }
                tableHTML += "</td></tr>"
            }
            return(tableHTML);
        }
    </script>
    <center>
        <h1 id="headText">Create new game</h1>
        <br>
        <input type="text" placeholder="insert game id" id="gameID"><input type="submit" value="Submit" id="submitID" onclick="setID()">
        <br><br><br>
        <button id ="start" onclick="startGame()">Start the game</button>
    </center>
    <table style="border:0px;">
        <td style="border:0px;">
            <table>
                <thead>
                    <tr><th>Players</th></tr>
                </thead>
                <tbody id="playerlist">
                    <tr><td>playername</td></tr>
                </tbody>
            </table>
        </td>
        <td style="border:0px;">
            <table>
                <thead>
                    <tr><th>Words</th></tr>
                </thead>
                <tbody id="wordlist">
                    <tr><td>xyz</td></tr>
                </tbody>
            </table>
        </td>
        <td style="border:0px;">
            <table>
                <thead>
                    <tr><th>Suggestions</th></tr>
                </thead>
                <tbody id="suggestionlist">
                    <tr><td>zyx</td></tr>
                </tbody>
            </table>
        </td>
    </table>
</body>
<script src="{{ url_for('static', filename='js/jquery-360-min.js') }}"></script>
</html>